---
layout: default
title: "Алексей Лобзов о менеджменте и системном анализе"
description: Это мой блог, где я делюсь идеями и опытом, полученными в процессе моей профессиональной деятельности
keywords: алексей лобзов, системный анализ, менеджмент
---

<!-- This loops through the paginated posts -->
{% for post in paginator.posts %}
  <article>
    <h1>{{ post.title }}</h1>
    <div class="subline">
      <time datetime="{{ post.date | date-to_xmlschema }}">
        {% assign m = post.date | date: "%-m" %}
        {{ post.date | date: "%-d" }}
        {% case m %}
          {% when '1' %}января
          {% when '2' %}февраля
          {% when '3' %}марта
          {% when '4' %}апреля
          {% when '5' %}мая
          {% when '6' %}июня
          {% when '7' %}июля
          {% when '8' %}августа
          {% when '9' %}сентября
          {% when '10' %}октября
          {% when '11' %}ноября
          {% when '12' %}декабря
        {% endcase %}
        {{ post.date | date: "%Y" }}
      </time>
    </div>
    {{ post.description }}
    <div>
      <a href="{{ post.url | prepend: site.baseurl }}">Читать...</a>
    </div>
  </article>
{% endfor %}

<!-- Pagination links -->
{% if paginator.total_pages > 1 %}
<div class="pagination">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path | relative_url }}">&laquo; Сюда</a>
  {% else %}
    <span>&laquo; Сюда</span>
  {% endif %}

  {% for page in (1..paginator.total_pages) %}
    {% if page == paginator.page %}
      <em>{{ page }}</em>
    {% elsif page == 1 %}
      <a href="{{ '/' | relative_url }}">{{ page }}</a>
    {% else %}
      <a href="{{ site.paginate_path | relative_url | replace: ':num', page }}">{{ page }}</a>
    {% endif %}
  {% endfor %}

  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path | relative_url }}">Туда &raquo;</a>
  {% else %}
    <span>Туда &raquo;</span>
  {% endif %}
</div>
{% endif %}