<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/index.css">
  </head>
  <body>
    <div class="wrapper">
      <header>
        <nav>
          <ul class="menu">
            <li>
              <a href="/" title="Главная страница">Главная</a>
            </li>
            <!--
            <li>
              <a href="/cv/" title="Моё резюме">Резюме</a>
            </li>
            -->
            <li>
              <a href="/blog/" title="Постов: {{ site.posts.size }} шт.">Блог</a>
            </li>
          </ul>
        </nav>
      </header>
      <main>
        {{ content }}
      </main>
      <footer>
        <div class="footer-meta">
          &copy; alobzov
        </div>
      </footer>
    </div>
  </body>
</html>